body,html{
	background-color: #a3d67b;
	margin: 0;
	padding: 0;
	border: none;
	font-family: Helvetica, Arial, sans-serif;
	overflow:auto;
}

/*---------- header ----------*/
#header-container{
	position: relative;
	z-index: 1;
	background: url('../img/home-header-bk.png') repeat-x;
	width: 100%;
	height: 190px;
}

#header{
	background: url('../img/home-header.png') no-repeat;
	background-position: left top;
	width: 800px;
	height: 190px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

/*---------- body ----------*/
#rays{
	margin: auto;
	margin-top: -780px;
	background-image: url('../img/rays.png');
	background-repeat: no-repeat;
	width: 1280px;
	height: 1280px;
	z-index: 0;
}

#content-container{
	width: 800px;
	margin: 30px auto;
}

#left-container{
	float: left;
	width: 200px;
}

#right-container{
	float: right;
	width: 500px;
}

.left-item{
	width: 200px;
	background-color: #fefbca;
	border: 2px #eedd66 solid;
	margin: 0 0 20px 0;
}

.left-item a{
	text-decoration: none;
	color: #393939;
}

.left-item a:hover{
	text-decoration: underline;
}

.left-ad{
	width: 200px;
	height: 200px;
	margin: 0 0 20px 0;
	border: 1px #eedd66 solid;
}

.right-item{
	width: 500px;
	background-color: #fefbca;
	border: 2px #eedd66 solid;
	margin: 0 0 20px 0;
}

.right-item h3{
	margin: 10px 0 0 10px;
}

.right-item a{
	color: #393939;
	text-decoration: none;
}

.right-item ul{
	margin: 0 0 10px 0;
	min-height: 20px;
}

.right-item li:hover{
	background-color: #eedd66;
}

.right-item a:hover{
	text-decoration: underline;
}

.content-item-title{
	margin: 0;
	width: 100%;
	height: 30px;
	font-size: 20px;
	text-align: left;
	background-color: #eedd66;
}

.content-item-title p{
	margin: 0 0 0 5px;
	padding-top: 3px;
}

.content-item-title a{
	text-decoration: none;
	color: #393939;
}

.content-item-title img{ border:none; }

.left-item ul{
	list-style: url('../img/bullet_go.png');
	margin-left: 0px;
	padding-left: 28px;
}

.left-item li{
	margin: 0 0 5px 0;
}

#searchform{
	width: 400px;
	margin: 5px auto;
}

#searchfield{
	width: 400px;
	height: 30px;
	font-size: 24px;
	text-align: center;
	border: 1px #eedd66 solid;
	color: #bdbdbd;
}

#searchresults{
	width: 500px;
	margin: 0;
	padding: 0;
}

#searchresults p{
	margin: 0 0 10px 10px;
}

.searchclose{
	text-align: right;
}

.searchclose a{
	text-decoration: none;
	color: #393939;
	margin: 0 10px 10px 0;
}

.searchclose img{ border: none; }

.searchresult{
	margin: 0 10px 5px 10px;
	border-bottom: 1px #eedd66 solid;
}

.searchresult p{
	color: #393939;
	margin-top: 5px !important;
}

.searchresult h3{ margin-top: 0px; }

.foldercontainer{
	border:1px #eedd66 solid;
}

#bannerad{
	width: 100%;
	text-align:center;
	margin-top: -150px;
}

.notedate{
	font-size: 12px;
	margin: 2px 0 0 40px;
	color: #393939;
}

.notename{
	margin: 2px 0 2px 0;
}

#footer{
	width: 100%;
	float: left;
	text-align: center;
	font-size: 12px;
	margin-top: 0px;
	position: relative;
}

#footer p{
	margin: 3px 0 3px 0;
	color: #393939;
}

#footer a{
	color: #393939;
}